
<div class="container" style="max-width:1000px; margin:auto;">

  <%= simple_form_for(@artist) do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :bio, as: :text %>
      <%= f.input :about, as: :text %>
      <%= f.input :exposicao, as: :text %>
      <%= f.input :critica, as: :text %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Criar artista", class: 'btn-formulario' %>
    </div>

  <% end %>

</div>
