<div class="hide navigation" data-controller="navtitle" data-action="scroll@window->navtitle#updateTitle" data-navtitle-target="navigation">
  <div class="container-nav">
    <div class="d-flex justify-content-between align-items-center">
      <%= link_to image_tag("martir_logo_sm.svg"), root_path %>
      <div class="m-0 p-0 d-flex">
        <%# link_to "SOBRE", sobre_path, class:"hover-underline-animation" %> <p style="margin-right: 20px;">SOBRE</p>
        <%# link_to "INSTITUTO TRAGALUZ", sobre_path, class:"hover-underline-animation" %> <p>INSTITUTO TRAGALUZ</p>
      </div>
    </div>
  </div>
</div>


   <div class="d-flex justify-content-center pt-3 pb-3 mb-0">
    <%= image_tag "martir_logo_footer.svg", class: "main-title" %>
  </div>

  <%# div comentada sem o javascript do titulo  %>
  <%# <div class="main-title scrolled pt-3 pb-0 mb-0" data-controller="navtitle" data-action="load@window->navtitle#minimalTitle" data-action="scroll@window->navtitle#backTitle" data-navtitle-target="martir"> MARTIR </div>
  <%# ----------------------------------------  %>


  <div class="hero d-flex justify-content-center align-items-end">
    <%= image_tag "martir-hero02.png" %>
  </div>

  <div class="main-subtitle d-flex justify-content-between">
    <div class="title-mostra">
      <h2>Mostra de Arte <br>de Tiradentes</h2>
      <h3>COLEÇÃO TADEU BANDEIRA</h3>
    </div>
    <div class="about-martir">
     <p>Localizado na cidade histórica de Tiradentes, Martir foi especialmente delineado para acolher importantes exposições, como a mostra intitulada "Arte Mineira Contemporânea”. A exposição conta com obras de prestigiosos e talentosos artistas, parte da coleção "Tadeu Bandeira”, constituída a partir do olhar do colecionador para a produção mineira a partir dos anos 1970. O espaço pertence ao Instituto Tragaluz, uma associação civil de direito privado, sem fins lucrativos, que almeja com essas ações fomentar outras de natureza semelhante.</p>
    </div>
  </div>

  <div class="main-about d-flex justify-content-between align-items-end">
    <div class="about-tragaluz">
      <p style="font-style: italic">"Em 1972, fui até a rodoviária e peguei um ônibus até Ouro Preto para conhecer Nello Nuno. Toquei a campainha da sua casa no Largo do Rosário, me apresentei como um simples colegial dos Irmãos Maristas, falei do meu interesse em adquirir um de seus quadros, ainda que com pequeno dinheiro de mesada. Compreendendo a situação, ele me recebeu gentilmente e trouxe até a mim um lindo pôr do sol em Ouro Preto, indagando se estariam bem oito parcelas. Tal pintura integra essa coleção ora aberta à visitação pública."
        <br><br> <span style="font-style:normal">— Tadeu Bandeira</span>
      </p>
    </div>
    <div class="about-images">
    </div>
  </div>


  <%# -------- mobile --------  %>

  <div class="d-sm-none main-about-mobile d-flex flex-column justify-content-between align-items-center">
    <div class="about-images-mobile">
    </div>
    <div class="about-tragaluz-mobile">
      <p>INSTITUTO TRAGALUZ <br><br>
      Localizado na cidade histórica de Tiradentes, Martir é um espaço do Instituto Tragaluz, especialmente delineado para acolher importantes exposições, como a mostra intitulada "Arte Mineira Contemporânea”. A exposição conta com obras de prestigiosos e talentosos artistas, parte da coleção "Tadeu Bandeira”, constituída a partir do olhar do colecionador para a produção mineira a partir dos anos 1970. <br> <br>
      O Instituto colabora de forma prática e atuante num processo educativo multiforme com mostras artísticas e culturais, exposições, palestras, debates e uma série de iniciativas de cunho social e educacional com ações desde a Primeira Infância. Trata-se de uma associação civil de direito privado, sem fins lucrativos, que almeja com essas ações fomentar outras de natureza semelhante, em pleno exercício de responsabilidade social e cidadania.
      </p></div>
  </div>

  <%# ------------------------  %>
  <div class="breath"></div>

  <div class="d-flex loop justify-content-center align-items-center">
  </div>

  <div class="artistas-obras bg-cream d-flex justify-content-center align-items-center">
    <%= image_tag "artistas-obras.svg", class:"artistas-obras-img-desktop" %>
    <%= image_tag "artistas-obras-mobile.svg", class:"artistas-obras-img-mobile" %>
  </div>

  <div class="accordion accordion-flush" id="accordionFlushExample">

    <% @artists.each do |artist| %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading<%= artist.id %>">
        <button class="artist-line accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= artist.id %>" aria-expanded="false" aria-controls="flush-collapse<%= artist.id %>">
          <%= artist.name %>
        </button>
      </h2>
      <div id="flush-collapse<%= artist.id %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= artist.id %>" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body p-0 pt-4 pb-4 d-flex justify-content-between">
          <div class="artist-works d-flex align-items-start">
            <% artist.photos.each do |photo| %>
            <%= cl_image_tag photo.key %>
            <% end %>
          </div>
          <div class="artist-bio">
            <p><%= simple_format(artist.bio) %></p>
            <br>
            <%# link_to artist_path(artist) do %>
            <span class="btn-vermais">VER MAIS</span> <%= image_tag('arrow.svg') %>
            <%# end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>


  </div>

  <div class="box-tragaluz row">
    <div class="row bg-cream p-5" style="border-radius:24px;">
      <div class="col-4">
        <h3>INSTITUTO <br> TRAGALUZ</h3>
      </div>
        <div class="col-8 d-flex justify-content-between">
          <p>
            Como formar ideias, criar, criticar, crescer e, se necessário, transformá-las em "conhecimento"? E como "conhecer” se não estivermos inseridos em um processo educativo contínuo e multiforme, utilizando os mais diversos e diferentes recursos?
            <br><br>
            O Instituto Tragaluz colabora de forma prática e atuante com mostras artísticas e culturais, exposições, palestras, debates e uma série de iniciativas de cunho social e educacional com ações desde a Primeira Infância.
            <br><br>
            Localizado na cidade histórica de Tiradentes, trata-se de uma associação civil de direito privado, sem fins lucrativos, que almeja com essas ações fomentar outras de natureza semelhante, em pleno exercício de responsabilidade social e cidadania.
          </p>
          <%= image_tag "fachada-martir.png" %>
        </div>
    </div>
  </div>
