<div class="navigation">
  <div class="martir-container d-flex justify-content-between align-items-center">
      <%= link_to image_tag("martir_logo_sm.svg"), root_path %>
      <div class="menu m-0 p-0 d-flex">
        <%= link_to "SOBRE", sobre_path, class:"hover-underline-animation" %>
        <%= link_to "INSTITUTO TRAGALUZ", sobre_path, class:"hover-underline-animation" %>
      </div>
    </div>
</div>

<div class="martir-container">

    <div class="row pt-5">
      <div class="col-12 col-sm-5 col-lg-6 artist-name">
        <%= @artist.name %>
      </div>
    </div>

    <div class="d-none d-sm-flex row pt-3">
      <div class="col-sm-5 col-lg-6 artist-menu">
          <% if @artist.photos.count > 1 %>
            <div class="d-none d-sm-block artist-menu-title">
              <% if @artist.detail == true %>
                detalhes de obras
              <% else %>
                obras
              <% end %>
            </div>
          <% elsif @artist.photos.count == 1 %>
            <div class="d-none d-sm-block artist-menu-title">
              <% if @artist.detail == true %>
                detalhe de obra
              <% else %>
                obra
              <% end %>
            </div>
          <% elsif @artist.photos.count == 0 %>
            <div class="artist-menu-title"></div>
          <% end %>
      </div>
      <div class="col-sm-6 col-lg-5 offset-1 artist-menu d-flex justify-content-between nav nav-pills mb-3" id="pills-tab" role="tablist">
        <% if @artist.about != "" %>
          <div class="nav-item" role="presentation">
            <button class="nav-link artist-menu-title active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true" style="color:black;">Biografia</button>
          </div>
        <% end %>
        <% if @artist.critica != "" %>
          <div class="nav-item" role="presentation">
            <button class="nav-link artist-menu-title" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" style="color:black;">Críticas</button>
          </div>
        <% end %>
        <% if @artist.exposicao != "" %>
          <div class="nav-item" role="presentation">
            <button class="nav-link artist-menu-title" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false" style="color:black;">Exposições</button>
          </div>
        <% end %>
      </div>
    </div>

    <div class="d-none d-sm-flex row">
        <% if @artist.photos.count > 1 %>
          <div id="carouselExampleControls" class="col-sm-5 col-lg-6 carousel slide" data-bs-ride="carousel">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span aria-hidden="true"> <%= image_tag "arrow-img.svg", class:"prev-icon" %> </span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span aria-hidden="true"> <%= image_tag "arrow-img.svg", class:"next-icon" %> </span>
            </button>
            <div class="carousel-inner mt-3">
              <% @artist.photos.each do |photo| %>
                <% if photo == @artist.photos.first %>
              <div class="carousel-item active" data-bs-interval="4000">
                <%= cl_image_tag photo.key, class:"d-block w-100" %>
              </div>
                <% else %>
              <div class="carousel-item" data-bs-interval="4000">
                <%= cl_image_tag photo.key, class:"d-block w-100" %>
              </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @artist.photos.count == 1 %>
          <div class="col-sm-5 col-lg-6" >
            <%= cl_image_tag @artist.photos.first.key, class:"d-block w-100" %>
          </div>
        <% end %>

        <% if @artist.photos.count < 1 %>
          <div class="col-sm-5 col-lg-6" >
          </div>
        <% end %>

        <div class="col-sm-6 col-lg-5 offset-1 tab-content p-0 mt-3" id="pills-tabContent">
          <% if @artist.about != nil %>
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <%= simple_format(@artist.about) %>
            </div>
          <% end %>
          <% if @artist.critica != nil %>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <%= simple_format(@artist.critica) %>
            </div>
          <% end %>
          <% if @artist.exposicao != nil %>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <%= simple_format(@artist.exposicao) %>
            </div>
          <% end %>
        </div>
    </div>

    <%# MOBILE  %>

    <div class="mt-4 d-block d-sm-none">

      <% if @artist.photos.count > 1 %>
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner mt-3">
              <% @artist.photos.each do |photo| %>
                <% if photo == @artist.photos.first %>
              <div class="carousel-item active" data-bs-interval="4000">
                <%= cl_image_tag photo.key, class:"d-block w-100" %>
              </div>
                <% else %>
              <div class="carousel-item" data-bs-interval="4000">
                <%= cl_image_tag photo.key, class:"d-block w-100" %>
              </div>
                <% end %>
              <% end %>
            </div>
          </div>
      <% end %>

        <% if @artist.photos.count == 1 %>
          <div>
            <%= cl_image_tag @artist.photos.first.key, class:"d-block w-100" %>
          </div>
        <% end %>

        <% if @artist.photos.count < 1 %>
          <div>
          </div>
        <% end %>

      <div class="mt-4 artist-menu d-flex justify-content-between nav nav-pills mb-3" id="pills-tab" role="tablist">
        <div class="nav-item" role="presentation">
          <button class="nav-link artist-menu-title active" id="pills-homemobile-tab" data-bs-toggle="pill" data-bs-target="#pills-homemobile" type="button" role="tab" aria-controls="pills-homemobile" aria-selected="true" style="color:black;">Biografia</button>
        </div>
        <div class="nav-item" role="presentation">
          <button class="nav-link artist-menu-title" id="pills-profilemobile-tab" data-bs-toggle="pill" data-bs-target="#pills-profilemobile" type="button" role="tab" aria-controls="pills-profilemobile" aria-selected="false" style="color:black;">Críticas</button>
        </div>
        <div class="nav-item" role="presentation">
          <button class="nav-link artist-menu-title" id="pills-contactmobile-tab" data-bs-toggle="pill" data-bs-target="#pills-contactmobile" type="button" role="tab" aria-controls="pills-contactmobile" aria-selected="false" style="color:black;">Exposições</button>
        </div>
      </div>

      <div class="tab-content p-0 mt-3" id="pills-tabContent">
          <% if @artist.about != nil %>
            <div class="tab-pane fade show active" id="pills-homemobile" role="tabpanel" aria-labelledby="pills-homemobile-tab">
              <%= simple_format(@artist.about) %>
            </div>
          <% end %>
          <% if @artist.critica != nil %>
            <div class="tab-pane fade" id="pills-profilemobile" role="tabpanel" aria-labelledby="pills-profilemobile-tab">
              <%= simple_format(@artist.critica) %>
            </div>
          <% end %>
          <% if @artist.exposicao != nil %>
            <div class="tab-pane fade" id="pills-contactmobile" role="tabpanel" aria-labelledby="pills-contactmobile-tab">
              <%= simple_format(@artist.exposicao) %>
            </div>
          <% end %>
      </div>
    </div>

</div>
