<div class="nav hide" data-controller="navtitle" data-action="scroll@window->navtitle#updateTitle" data-navtitle-target="nave">
  <div class="d-flex justify-content-between align-items-center" style="width:100vw;">
    <div><%= image_tag "martir_logo_sm.svg" %></div>
    <div><p><%= link_to "PT", root_path %> | <%= link_to "EN", en_path %></p></div>
  </div>
</div>

<div class="main-title pt-3 pb-0 mb-0" data-controller="navtitle" data-action="scroll@window->navtitle#minimalTitle" data-navtitle-target="martir">
  MARTIR
</div>

<div class="hero d-flex justify-content-center align-items-end">
</div>

<div class="main-subtitle d-flex justify-content-between">
  <div class="title-mostra">
    <h2>Tiradentes' <br>Art Show</h2>
    <h3>TADEU BANDEIRA COLLECTION</h3>
  </div>
  <div class="about-martir">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis ipsum, ab, cupiditate eius praesentium ipsam omnis odio debitis dignissimos blanditiis similique! Doloremque perspiciatis quia consequatur nihil pariatur officia, officiis animi. Dolor sit amet consectetur adipisicing elit. Libero, cumque ut a doloremque atque maiores veritatis sapiente temporibus dolorem eum corporis nesciunt vel neque deserunt. Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
  </div>
</div>

<div class="main-about d-flex justify-content-between align-items-end">
  <div class="about-tragaluz">
    <p>TRAGALUZ INSTITUT<br><br>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates doloremque eius dolor illum voluptas, esse at sunt inventore eos eligendi ipsam asperiores minus non mollitia placeat animi natus totam quae! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus distinctio qui autem, explicabo similique excepturi porro vel ipsam deserunt odio minus repellat provident reprehenderit. Architecto tenetur quae odio explicabo vero. </p>
  </div>
  <div class="about-images">
  </div>
</div>

<div class="d-sm-none main-about-mobile d-flex justify-content-between align-items-end">
  <div class="about-images-mobile">
  </div>
  <div class="about-tragaluz-mobile">
    <p>INSTITUTO TRAGALUZ <br><br>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates doloremque eius dolor illum voluptas, esse at sunt inventore eos eligendi ipsam asperiores minus non mollitia placeat animi natus totam quae! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus distinctio qui autem, explicabo similique excepturi porro vel ipsam deserunt odio minus repellat provident reprehenderit. Architecto tenetur quae odio explicabo vero. </p>
  </div>
</div>

<div class="d-flex loop justify-content-center align-items-center">
  <%= image_tag "loop.gif" %>
</div>

  <div class="artistas-obras bg-cream d-flex justify-content-center align-items-center">
    <%= image_tag "artistas-obras.svg", class:"artistas-obras-img-desktop" %>
    <%= image_tag "artistas-obras-mobile.svg", class:"artistas-obras-img-mobile" %>
  </div>

  <div class="accordion accordion-flush" id="accordionFlushExample">

    <% @artists.each do |artist| %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading<%= artist.id %>">
        <button class="artist-line accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= artist.id %>" aria-expanded="false" aria-controls="flush-collapse<%= artist.id %>">
          <%= artist.name %>
        </button>
      </h2>
      <div id="flush-collapse<%= artist.id %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= artist.id %>" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body pt-4 d-flex justify-content-between">
        <div class="artist-works d-flex align-items-start">
          <%= image_tag "artist-img01.png" %>
          <%= image_tag "artist-img02.png" %>
          <%= image_tag "artist-img03.png" %>
        </div>
        <div class="artist-bio">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere non doloribus pariatur dolorum soluta adipisci vitae! Alias optio aut accusamus deserunt omnis dolores aliquam odio dicta, ullam modi, mollitia iure!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere non doloribus pariatur dolorum soluta adipisci vitae! Alias optio aut accusamus deserunt omnis dolores aliquam odio dicta, ullam modi, mollitia iure!</p>

        </div>
        </div>
      </div>
    </div>
    <% end %>

  </div>





<div class="footer" style="height:400px;">
</div>
