<div class="navigation">
    <div class="container-nav">
    <div class="d-flex justify-content-between align-items-center">
      <%= link_to image_tag("martir_logo_sm.svg"), root_path %>
      <div class="m-0 p-0">
        <%# link_to "SOBRE", sobre_path, class:"hover-underline-animation" %>
        <%= link_to "INSTITUTO TRAGALUZ", sobre_path, class:"hover-underline-animation" %>
      </div>
    </div>
  </div>
</div>


<div class="sobre">
  <div class="pb-5 d-flex">
    <%= image_tag "martir_logo_footer.svg", class:"logo-sobre" %>
    <div>
      <h4>Mostra de Arte <br>de Tiradentes</h4>
      <p>COLEÇÃO TADEU BANDEIRA</p>
    </div>
  </div>
  <div class="row m-0 p-0 pt-3">
    <div class="col-12 col-md-7">
      <div id="carouselExampleControls" class="carousel slide p-0" data-bs-ride="carousel">
            <button class="d-none d-md-block carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span aria-hidden="true"> <%= image_tag "arrow-img.svg", class:"prev-icon" %> </span>
            </button>
            <button class="d-none d-md-block carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span aria-hidden="true"> <%= image_tag "arrow-img.svg", class:"next-icon" %> </span>
            </button>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="4000">
                <%=  image_tag "gal01.jpg", class:"d-block w-100" %>
              </div>
              <div class="carousel-item" data-bs-interval="4000">
                <%=  image_tag "gal02.jpg", class:"d-block w-100" %>
              </div>
            </div>
      </div>
      <div class="d-none d-md-flex pt-5">
        <div class="sobre-horarios">
          <p>
            Horário de funcionamento: <br><br>

            Ter a Sáb – 10h às 19h <br>
            Dom – 10h às 16h


            <br><br> <br> <br> <br> <br>


            Endereço: <br> <br>

            Rua Direita, 52 – Centro <br>
            Tiradentes, MG / Brasil
          </p>
        </div>
        <div>
          <p>
            Informações gerais <br>
            info@martir.org <br><br>

            Diretor <br>
            Pedro Navarro <br><br>

            Vendas, produção e acervo <br>
            João Nóbrega <br>
            joao@martir.org <br> <br>

            Comunicação <br>
            Luiza Nardelli <br>
            comunicacao@martir.org
          </p>
        </div>
      </div>
    </div>
    <div class="sobre-txt col-12 col-md-5 col-lg-4 offset-lg-1">
      <p>
        Entre 1984 e 1987, Adrianne Izabelle dos Santos Gallinari estuda na Escola Guignard, juntamente com Rosângela Rennó. Inicia sua atuação artística nessa escola, desenvolvendo produção em desenho e pintura, e experimentando materiais como a cerâmica. Nesse período, conhece os artistas Cao Guimarães e José Bento, entre outros. Em 1997, Gallinari realiza sua primeira animação em vídeo, em Belo Horizonte.
        <br><br>
        No mesmo ano, viaja a Buenos Aires para participar do Programa de Bolsas para Artistas Jovens "Beca Kuitca", lá permanecendo até 2001. Paralelamente ao seu trabalho como artista visual atua na área de ilustração. Nesse campo, cria trabalhos para a revista Bravo, edições de julho 2002 e janeiro 2004, e produz os marcadores de livros da Livraria Cultura, em 2003, ano em que se muda para São Paulo.
        <br><br>
        Adrianne Gallinari desponta nos anos 1990 com trabalhos de pintura e desenho. A pintura de cores fortes do início dessa década desloca-se para um desenho com poucas áreas de cor, composto por silhuetas humanas, formas geométricas e palavras, realizado sobre diferentes suportes. Entre 1997 e 2003, realiza um projeto itinerante de desenhos sobre parede nas cidades de São Paulo, Buenos Aires, Nova York, Pontevedra (Espanha), Fortaleza, Pori (Finlândia) e Belo Horizonte, no qual o desenho se relaciona diretamente com a arquitetura do lugar da mostra.
        <br><br>
        A palavra tem um papel preponderante nesses desenhos, gerando áreas de acúmulo semelhantes à trama de linhas. Nos desenhos sobre papel da Série Vermelha, 2003, a artista retoma o uso predominante da cor, como nas pinturas.
      </p>
    </div>

    <div class="d-flex d-md-none pt-5">
        <div class="sobre-horarios">
          <p>
            Horário de funcionamento: <br><br>

            Ter a Sáb – 10h às 19h <br>
            Dom – 10h às 16h


            <br><br> <br> <br> <br> <br>


            Endereço: <br> <br>

            Rua Direita, 52 – Centro <br>
            Tiradentes, MG / Brasil
          </p>
        </div>
        <div>
          <p>
            Informações gerais <br>
            info@martir.org <br><br>

            Diretor <br>
            Pedro Navarro <br><br>

            Vendas, produção e acervo <br>
            João Nóbrega <br>
            joao@martir.org <br> <br>

            Comunicação <br>
            Luiza Nardelli <br>
            comunicacao@martir.org
          </p>
        </div>
      </div>
  </div>
</div>
