<div class="navigation">
  <div class="martir-container d-flex justify-content-between align-items-center">
      <%= link_to image_tag("martir_logo_sm.svg"), root_path %>
      <div class="menu m-0 p-0 d-flex">
        <%# link_to "SOBRE", sobre_path, class:"hover-underline-animation" %>
        <%= link_to "INSTITUTO TRAGALUZ", sobre_path, class:"hover-underline-animation" %>
      </div>
    </div>
</div>


<div class="martir-container sobre">
  <div class="pb-5 d-flex">
    <%= image_tag "martir_logo_footer.svg", class:"logo-sobre" %>
    <div>
      <h4>Mostra de Arte <br>de Tiradentes</h4>
      <p>COLEÇÃO TADEU BANDEIRA</p>
    </div>
  </div>
  <div class="row m-0 p-0 pt-3">
    <div class="col-12 col-md-7">
      <div id="carouselExampleControls" class="carousel slide p-0" data-bs-ride="carousel">
            <button class="d-none d-md-block carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span aria-hidden="true"> <%= image_tag "arrow-img.svg", class:"prev-icon" %> </span>
            </button>
            <button class="d-none d-md-block carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span aria-hidden="true"> <%= image_tag "arrow-img.svg", class:"next-icon" %> </span>
            </button>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="4000">
                <%=  image_tag "sobre01.jpg", class:"d-block w-100" %>
              </div>
              <div class="carousel-item" data-bs-interval="4000">
                <%=  image_tag "sobre02.jpg", class:"d-block w-100" %>
              </div>
              <div class="carousel-item" data-bs-interval="4000">
                <%=  image_tag "sobre03.jpg", class:"d-block w-100" %>
              </div>
            </div>
      </div>
      <div class="d-none d-md-flex pt-5">
        <div class="sobre-horarios">
          <p>
            Horário de funcionamento: <br><br>

            Qui à Sáb <br>
            10h às 17h


            <br><br> <br> <br>


            Endereço: <br> <br>

            Rua Direita, 44 – Centro Histórico<br>
            Tiradentes – MG / Brasil
          </p>
        </div>
        <div>
          <p>
            Informações gerais: <br><br>
            info@martir.org

            <br><br> <br> <br> <br>

            Instagram: <br><br>
            @martir.tiradentes
          </p>
        </div>
      </div>
    </div>
    <div class="sobre-txt col-12 col-md-5 col-lg-4 offset-lg-1">
      <p>
      Como formar ideias, criar, criticar, crescer e, se necessário, transformá-las em "conhecimento"? E como "conhecer” se não estivermos inseridos em um processo educativo contínuo e multiforme, utilizando os mais diversos e diferentes recursos?
      <br><br>
      O Instituto Tragaluz colabora de forma prática e atuante com mostras artísticas e culturais, exposições, palestras, debates e uma série de iniciativas de cunho social e educacional com ações desde a Primeira Infância.
      <br><br>
      Trata-se de uma associação civil de direito privado, sem fins lucrativos, que almeja com essas ações fomentar outras de natureza semelhante, em pleno exercício de responsabilidade social e cidadania.
      <br><br>
      Localizado na cidade histórica de Tiradentes, o Instituto conta com o Martir, um espaço especialmente delineado para acolher importantes exposições, como a mostra intitulada "Arte Mineira Contemporânea”.
      <br><br>
      A exposição conta com obras de prestigiosos e talentosos artistas, parte da coleção "Tadeu Bandeira”, constituída a partir do olhar do colecionador para a produção mineira a partir dos anos 1970, o que traduz a vocação do Instituto para as artes plásticas e o compromisso de se tornar um fiel parceiro em prol da cultura mineira.
      </p>
    </div>


  </div>
</div>
